# **Python für Ingenieure**   
<!-- Lizensiert unter (CC BY 2.0) Gert Herold, 2019 -->
## 1.2. Sequentielle Datentypen

Häufig ist es sinnvoll, mehrere Elemente in einer Variable zu speichern. So ist z. B. eine *string*-Variable eine Sequenz von Einzelzeichen, die hintereinander abgespeichert werden.
Auf einzelne Elemente einer Sequenz kann über eine Adressierung ein eckigen Klammern (`[ ]`) zugegriffen werden:
****************************************************

## 1.2. Sequential data types   ##Wichtig
Often it makes sense to save several elements in a variable. So z. For example, a string variable is a sequence of single characters that are stored one after the other. Individual elements of a sequence can be accessed by using square brackets ([]):

In [29]:
###wichtig
x = 'Der Himmel ist blau.'
print (x)
print('Anzahl der Elemente:', len(x), '\nEin Element der Sequenz:', x[4])

Der Himmel ist blau.
Anzahl der Elemente: 20
Ein Element der Sequenz: H

In [30]:
y="Wir machen Deutschland zusammen stark" 
print('y=',y,'\nLength(y)=',len(y))

y= Wir machen Deutschland zusammen stark
Length(y)= 37

**Achtung:** Die Indizierung in Python ist generell *nullbasiert*, d.h. der Zugriff auf das erste Element einer Sequenz erfolgt über den Index 0:




********************

** Attention: ** Indexing in Python is generally * zero based *, ie. the first element of a sequence is accessed via the index 0:

In [31]:
x[1]

'e'

Der Index des letzten Elements ist dementsprechend: ##wichtig
**************************

The index of the last element is accordingly:

In [32]:
print(x[len(x)-1])

.

In [33]:
print(y[len(y)-1])

k

###Wichtig###
**********************
Eine Besonderheit in Python ist, dass die Indizierung der Elemente nicht nur ausgehend vom Anfang einer Sequenz, sondern auch von deren Ende geschehen kann:
*********************************
A special feature in Python is that the indexing of the elements can not only be done from the beginning of a sequence, but also from its end:

In [34]:
x[-1]

'.'

###Wichtig###
*********************
Für einen Zugriff auf mehrere aufeinanderfolgende Elemente werden Anfangs- und End-Index mit einem Doppelpunkt getrennt.

**Achtung:** Der zweite Index adressiert das Element, das gerade *nicht* mehr enthalten sein soll. 

****************************
To access several consecutive elements, the start and end indices are separated by a colon.

** Attention: ** The second index addresses the element that should * not * be longer.

In [35]:
#x = 'Der Himmel ist blau.'

x[11:14]

'ist'

In [36]:
x[0:3]

'Der'

In [37]:
x[1:3]

'er'

### 1.2.1. Listen

Um Variablen beliebigen Typs als Sequenz zusammenzufassen, kann der Datentyp `list` verwendet werden.
************************
### 1.2.1. lists

To summarize variables of any type as a sequence, the data type `list` can be used.
************
لتلخيص المتغيرات من أي نوع كسلسلة ، يمكن استخدام نوع البيانات "قائمة".

In [38]:
a = [1,3,5,2,4,1,3,2]
print(type(a))
a

<class 'list'>

[1, 3, 5, 2, 4, 1, 3, 2]

###Wichtig###   sum(a),  max(a)) of a list
*****
Die Definition einer Liste erfolgt über eckige Klammern (`[ ]`), die die durch Kommas abgetrennten Elemente umfasst.

Sofern es die Elemente der Liste erlauben, können auch einfache Listenoperationen, wie das Auffinden des Maximums oder die Berechnung der Gesamtsumme durchgeführt werden:
*******************************
The definition of a list is done using square brackets ([]), which contains the elements separated by commas.

If the elements of the list permit, simple list operations, such as finding the maximum or calculating the total, can also be performed
*****************************
يتم تعريف القائمة باستخدام الأقواس المربعة ([]) ، والتي تحتوي على العناصر مفصولة بفواصل.

إذا سمحت عناصر القائمة ، يمكن أيضًا إجراء عمليات القائمة البسيطة ، مثل البحث عن الحد الأقصى أو حساب الإجمالي

In [39]:
print('Summe:',sum(a))
print('Maximum:',max(a))

Summe: 21
Maximum: 5

###Wichtig###
****************************
Prinzipiell können die Elemente einer Liste auch unterschiedlichen Typs sein:
******************************

In principle, the elements of a list can also be of different types:

In [40]:
b = [3, 1.41+2j, a, x, 'Aha!']
b 
#print(sum(b))

[3, (1.41+2j), [1, 3, 5, 2, 4, 1, 3, 2], 'Der Himmel ist blau.', 'Aha!']

Um einer Liste ein oder mehrere Elemente hinzuzufügen, kann folgende Syntax verwendet werden:
*********************************

To add one or more elements to a list, the following syntax can be used:

In [41]:
c = b + [15]
c

[3, (1.41+2j), [1, 3, 5, 2, 4, 1, 3, 2], 'Der Himmel ist blau.', 'Aha!', 15]

###Wichtig###
******
Beschreibungen zu weiteren Möglichkeiten der Listenbearbeitung finden sich unter anderem in der 
[Online-Python-Dokumentation](https://docs.python.org/3/tutorial/datastructures.html#more-on-lists).
Beispielhaft seien noch genannt:

****************************************
Descriptions of other options for list editing can be found in the
[Online Python documentation] (https://docs.python.org/3/tutorial/datastructures.html#more-on-lists).
Examples include:
***********************
يمكن العثور على أوصاف الخيارات الأخرى لتحرير القائمة في ملف
[وثائق بايثون على الإنترنت] (https://docs.python.org/3/tutorial/datastructures.html#more-on-lists).
الامثله تشمل:

In [42]:
#c=[3, (1.41+2j), [1, 3, 5, 2, 4, 1, 3, 2], 'Der Himmel ist blau.', 'Aha!', 15]
c.remove (15) # remove item from a list; if multiple exists, the first is removed
print(c,'\n')
c.append (28.3) # Append item to list
print(c,'\n')

c.insert (1, 'abc') # Insert element at specific position in list
print(c,'\n')
c.extend ([- 1, -2, -3]) # Expand the list by several elements
print(c,'\n')
c

[3, (1.41+2j), [1, 3, 5, 2, 4, 1, 3, 2], 'Der Himmel ist blau.', 'Aha!']

[3, (1.41+2j), [1, 3, 5, 2, 4, 1, 3, 2], 'Der Himmel ist blau.', 'Aha!', 28.3]

[3, 'abc', (1.41+2j), [1, 3, 5, 2, 4, 1, 3, 2], 'Der Himmel ist blau.', 'Aha!', 28.3]

[3, 'abc', (1.41+2j), [1, 3, 5, 2, 4, 1, 3, 2], 'Der Himmel ist blau.', 'Aha!', 28.3, -1, -2, -3]

[3,
 'abc',
 (1.41+2j),
 [1, 3, 5, 2, 4, 1, 3, 2],
 'Der Himmel ist blau.',
 'Aha!',
 28.3,
 -1,
 -2,
 -3]

###Sehr Wichtig###
### 1.2.2. Dictionaries

Eine Besonderheit der Programmiersprache Python ist der Datentyp *dictionary*. Im Gegensatz zu Listen, deren Werte (*values*) über Indizes abgerufen werden, nimmt hier ein Schlüssel (*key*) die Funktion der Indizes ein. 
Ähnlich einer Tabelle entsprechen die Elemente ein *Key-Value*-Paar.
Sowohl die *Keys* als auch die *Values* können beliebigen Typs sein. Jedoch darf wegen der Eindeutigkeit der Zuordnung jeder *Key* nur einmal in einem Dictionary vorkommen.
Die Syntax zu Erstellung eines Dictionarys lautet:
`variablenname = {key1 : value1, key2 : value2, ...}`

**Beispiel**: Die Telefonnummern der Mitarbeiter eines Fachgebiets seien gegeben:
*********************************************

A special feature of the programming language Python is the data type dictionary. Unlike lists, whose values are retrieved via indexes, a key takes on the function of the indices. Similar to a table, the elements correspond to a key-value pair. Both the keys and the values can be of any type. However, because of the uniqueness of the assignment, each key must only appear once in a dictionary. The syntax for creating a dictionary is: variable-name = {key1: value1, key2: value2, ...}

Example: The telephone numbers of the employees of a specialist area are given:

| Name        | Telefon |
|-------------|---------|
| Herold      | 24862   |
| Kisler      | 22440   |
| Schneehagen | 23419   |
| Stampka     | 22991   |
| Kujawski    | 25212   |
| Masovic     | 22761   |
| Jekosch     | 25211   |
| Paskiewicz  | 29403   |
| Radmann     | 29403   |
*****************************************
Die Definition eines entsprechenden Dictionarys unter Python sieht dann wie folgt aus:
***************************************
The definition of a corresponding dictionary under Python then looks like this:

In [59]:
tel_nr = {'Herold'      : 24862 ,
          'Kisler'      : 22440 ,
          'Schneehagen' : 23419 ,
          'Stampka'     : 22991 ,
          'Kujawski'    : 25212 ,
          'Masovic'     : 22761 ,
          'Jekosch'     : 25211 ,
          'Paskiewicz'  : 29403 ,
          'Radmann'     : 29403}

#tel_nr['Radmann2']=29403
tel_nr 
#print ('\n')
#print (tel_nr)

{'Herold': 24862,
 'Kisler': 22440,
 'Schneehagen': 23419,
 'Stampka': 22991,
 'Kujawski': 25212,
 'Masovic': 22761,
 'Jekosch': 25211,
 'Paskiewicz': 29403,
 'Radmann': 29403}

In [60]:
print (tel_nr)
print ('\n')

{'Herold': 24862, 'Kisler': 22440, 'Schneehagen': 23419, 'Stampka': 22991, 'Kujawski': 25212, 'Masovic': 22761, 'Jekosch': 25211, 'Paskiewicz': 29403, 'Radmann': 29403}

In [67]:
dic_aa={'ali' : 4222,
        'sameh':5555,
        'sarah':3333   
}
print(dic_aa)

{'ali': 4222, 'sameh': 5555, 'sarah': 3333}

Und der Abruf einzelner Elemente so:
**************************
And the retrieval of individual elements like this:

In [52]:
tel_nr['Kisler']

22440

###Wichtig###
***
Wird auf einen Key zugegriffen, der noch nicht existiert, wird ein neues Element hinzugefügt:
*************************
If a key is accessed that does not yet exist, a new item is added:
***************************

In [69]:
tel_nr['Tschakert']=22428
tel_nr

{'Herold': 24862,
 'Kisler': 22440,
 'Schneehagen': 23419,
 'Stampka': 22991,
 'Kujawski': 25212,
 'Masovic': 22761,
 'Jekosch': 25211,
 'Paskiewicz': 29403,
 'Radmann': 29403,
 'Tschakert': 22428}

In [65]:
tel_nr = {'Herold'      : 24862 ,
          'Kisler'      : 22440 ,
          'Schneehagen' : 23419 ,
          'Stampka'     : 22991 ,
          'Kujawski'    : 25212 ,
          'Masovic'     : 22761 ,
          'Jekosch'     : 25211 ,
          'Paskiewicz'  : 29403 ,
          'Radmann'     : 29403}
print(tel_nr.keys())
print(tel_nr.values())
print('************\n')
'''    for i in tel_nr:
        print(i)
        break
        print(max(i))'''
print(max(tel_nr.keys()))
print(max(tel_nr.values()))

dict_keys(['Herold', 'Kisler', 'Schneehagen', 'Stampka', 'Kujawski', 'Masovic', 'Jekosch', 'Paskiewicz', 'Radmann'])
dict_values([24862, 22440, 23419, 22991, 25212, 22761, 25211, 29403, 29403])
************

Stampka
29403

In [77]:
 tel_nr = {'Herold'      : 24862 ,
          'Kisler'      : 22440 ,
          'Schneehagen' : 23419 ,
          'Stampka'     : 22991 ,
          'Kujawski'    : 25212 ,
          'Masovic'     : 22761 ,
          'Jekosch'     : 25211 ,
          'Paskiewicz'  : 29403 ,
          'Radmann'     : 29403}

Stampka

In [91]:
###wichtig###
#******
list1,list2=['xyz','zara','abc'],[456,700,200]
print('Max value element : ',max(list1))
print('Max value element : ',max(list2))

Max value element :  zara
Max value element :  700

Abruf aller enthaltenen Keys und Werte:
****
Calling up all contained keys and values:

In [93]:
print(tel_nr.keys())
print(tel_nr.values())

print(max(tel_nr.keys()))         ###???

print(max(tel_nr.values()))

dict_keys(['Herold', 'Kisler', 'Schneehagen', 'Stampka', 'Kujawski', 'Masovic', 'Jekosch', 'Paskiewicz', 'Radmann'])
dict_values([24862, 22440, 23419, 22991, 25212, 22761, 25211, 29403, 29403])
Stampka
29403


****************************
### 1.2.3. *set* und *tuple* ###Wichtig###


Auf die Datentypen *set* (Menge) und *tuple* (Tupel) soll hier nur kurz eingegangen werden.

Ein Set ist die Python-Entsprechung des [mathematischen Mengen-Begriffs](https://de.wikipedia.org/wiki/Menge_(Mathematik)). Jedes Element kann hier nur einmal vorkommen und auf die Elemente unterliegen keiner vorgegebenen Ordnung.
************************

The data types set (quantity) and tuple (tuple) will be briefly described here.

A set is the Python equivalent of the [mathematical set concept](https://de.wikipedia.org/wiki/Menge_(Mathematik)). Each element can occur only once and the elements are not subject to a given order.
**************************************
سيتم وصف مجموعة أنواع البيانات (الكمية) و tuple (tuple) باختصار هنا.

المجموعة هي المكافئ في Python لـ [مفهوم المجموعة الرياضية] (https://de.wikipedia.org/wiki/Menge_ (Mathematik)). يمكن أن يحدث كل عنصر مرة واحدة فقط ولا تخضع العناصر لترتيب معين.

In [104]:
a = [1,3,5,2,4,1,3,2,'abc']
a_set=set(a)

print(a, type(a))
print(a_set, type(a_set))
print(3 in a_set) # Ist 3 Element der Menge a_set?


b = [1,3,5,2,4,1,3]
print(max(b),(min(b)))

c=['abc','aa','eee','uuu']
c_set=set(c)     
print('max in list c is',max(c),'\n','max in list c is',min(c))
print('max in list c is',max(c),'\n','max in list c is',min(c))

#set used to  

#1- no duplicate
#2- without the original order


#tuple
##???

[1, 3, 5, 2, 4, 1, 3, 2, 'abc'] <class 'list'>
{1, 2, 3, 4, 5, 'abc'} <class 'set'>
True
5 1
max in list c is uuu
 max in list c is aa

In [82]:
a=[1,2,3,4,5,5,3,2,1]
a_set=set(a)
print(a,type(a))
print(a_set,type(a_set))

[1, 2, 3, 4, 5, 5, 3, 2, 1] <class 'list'>
{1, 2, 3, 4, 5} <class 'set'>

###Wichtig###
****************************
Ein Tupel ist eine Liste, die nicht verändert werden kann. Dies ist z.B. dann sinnvoll, wenn bestimmte Variablen in fester Reihenfolge zusammengefasst werden sollen.
*********************
A tuple is a list that can not be changed. This is e.g. makes sense, if certain variables are to be summarized in a fixed order.*
*******************
المجموعة هي قائمة لا يمكن تغييرها. هذا على سبيل المثال من المنطقي ، إذا تم تلخيص بعض المتغيرات بترتيب ثابت. *

In [121]:
dreieck = 3,4,5 # definiere ein Dreieck über drei Seitenlängen
print(dreieck, type(dreieck))


a,b,c = dreieck                     ###???
rechtwinklig = (a*a+b*b == c*c) # Handelt es sich um ein rechtwinkliges Dreieck mit Hypothenuse c und Katheden a und b?
rechtwinklig

(3, 4, 5) <class 'tuple'>

True

## Übung
**1) Interpretieren Sie das Ergebnis der folgenden Indizierungen. Was sind die dahinterliegenden Syntaxregeln?**
*****
** 1) Interpret the result of the following indexes. What are the underlying syntax rules? **
**********

In [105]:
x = 'Der Himmel ist blau.'
print(x[0:len(x)])
print(x[-1])
print(x[1:-1])
print(x[1:])
print(x[4:])

Der Himmel ist blau.
.
er Himmel ist blau
er Himmel ist blau.
Himmel ist blau.

In [106]:
print(x[::1])
print(x[::2])
print(x[::3])

print(x[1::2])
 
print(x[:])

Der Himmel ist blau.
DrHme s lu
D mlsbu
e imlitba.
Der Himmel ist blau.

In [107]:
print(x[::-1])
print(x[::-2])
print(x[:-2])

.ualb tsi lemmiH reD
.abtilmi e
Der Himmel ist bla

**2) Geben Sie die Zeichenkette "`blau ist Der Himmel.`" mithilfe von Indizierungen der Variablen `x` aus. Versuchen Sie, den Befehl so kurz wie möglich zu halten.**
************************
** 2) Output the string "` blue is the sky.` "using the indexing of the variable` x`. Try to keep the command as short as possible. **
**************************
** 2) أخرج السلسلة النصية "` blue is the sky.` "باستخدام فهرسة المتغير` x`. حاول أن تجعل الأمر قصيرًا قدر الإمكان. **

In [117]:
# Hier eigenen Code schreiben ...
a = [1,3,5,2,4,1,3,2,'abc']

print(a,a[::-1] )

bb='blue is the sky.'

print (bb[0:len(bb)],'\n')
print(len(bb))

[1, 3, 5, 2, 4, 1, 3, 2, 'abc'] ['abc', 2, 3, 1, 4, 2, 5, 3, 1]
blue is the sky.
16