# **Python für Ingenieure**
<!-- Lizensiert unter (CC BY 2.0) Gert Herold, 2019 -->
# 2. Kontrollstrukturen

Für komplexere Programmieraufgaben werden Strukturen benötigt, die den Ablauf eines Programms steuern.
Hierzu gehören *Schleifen*, die dann Anwendung finden, wenn gleichartige Anweisungen wiederholt werden sollen, sowie *Verzweigungen*, die die Ausführung von Anweisungen an Bedingungen knüpfen.
***********************

Structures that control the execution of a program are required for more complex programming tasks.
These include * loops *, which are used when instructions of the same type are to be repeated, and * branches *, which link the execution of instructions to conditions.

## 2.1. *if/elif/else*

Um Programmcode nur unter Bedingungen auszuführen, wird folgende Syntax verwendet:
********
The following syntax is used to execute program code only under certain conditions:

In [1]:
i=10
if i<=10:
    print('kleiner als zehn!')
elif(i>=5):
    print('i=5')
else:
    print('end')

kleiner als zehn!

Falls mehrere Bedingungen geprüft werden sollen bzw. es einen "Sonst"-Fall geben soll:

In [4]:
i = 25
if (i<=10 and i>=1):
    print('zwischen 1 und 10')
elif (i < 0):
    print('negativ')
else:
    print('0 oder größer 10')

0 oder größer 10

## 2.2. *for*-Schleife

Eine Anweisung eine bestimmte Anzahl von Wiederholungen (Iterationen) zu durchlaufen, ist mit folgender Struktur möglich:
***********
An instruction to run through a certain number of repetitions (iterations) is possible with the following structure:
**********
يمكن الحصول على تعليمات للتشغيل من خلال عدد معين من التكرارات (التكرارات) مع الهيكل التالي:

In [14]:
for i in range(5):
    print('Wiederholung:',i)

Wiederholung: 0
Wiederholung: 1
Wiederholung: 2
Wiederholung: 3
Wiederholung: 4

**Achtung:** Im Gegensatz zu vielen anderen Programmiersprachen hat unter Python die Einrückung (engl: *indentation*) des Quellcodes eine elementare Bedeutung für den Programmablauf. Zeilen 
gleicher Einrückung markieren jeweils einen zusammenhängenden Block.

Iteriert werden kann mit einer for-Schleife nicht nur über einen Zahlenbereich, sondern über jedes iterierbare Objekt, z.B. auch über Listen:
********************
** Attention: ** In contrast to many other programming languages, the indentation of the source code under Python has an elementary meaning for the program flow. Lines
with the same indentation each mark a coherent block.

You can iterate with a for loop not only over a range of numbers, but over every iterable object, e.g. also via lists:
*************
** انتباه: ** على عكس العديد من لغات البرمجة الأخرى ، فإن المسافة البادئة للكود المصدري تحت Python لها معنى أولي لتدفق البرنامج. كل خط من الأسطر التي لها نفس المسافة البادئة تحدد كتلة متماسكة.

يمكنك التكرار باستخدام حلقة for ليس فقط عبر نطاق من الأرقام ، ولكن على كل كائن قابل للتكرار ، على سبيل المثال أيضًا عبر القوائم:

In [14]:
a = [1, 2, 'lalala', 14, -2.3]
for i in a:
    print(i)

1
2
lalala
14
-2.3

Das Ergebnis der oben verwendeten Funktion *range* kann auch in eine Liste umgewandelt werden. Außerdem muss eine *range* nicht bei 0 starten:
************************
The result of the * range * function used above can also be converted into a list. In addition, a * range * does not have to start at 0:
*********
يمكن أيضًا تحويل نتيجة الوظيفة * النطاق * المستخدمة أعلاه إلى قائمة. بالإضافة إلى ذلك ، لا يجب أن يبدأ النطاق * النطاق * من 0:

In [15]:
range?

Init signature: range(self, /, *args, **kwargs)
Docstring:
range(stop) -> range object
range(start, stop[, step]) -> range object

Return an object that produces a sequence of integers from start (inclusive)
to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
These are exactly the valid indices for a list of 4 elements.
When step is given, it specifies the increment (or decrement).
Type:           type
Subclasses:

##Wichtig###      convert range-->> list

In [16]:
###Wichtig###      convert range-->> list
r = range(3,7,2)
print(r,type(r))
#for i in r:
#    print (i)
print(list(r))

range(3, 7, 2) <class 'range'>
[3, 5]

In [17]:
r = range(3,7,1)
print(r)
print(list(r))

range(3, 7)
[3, 4, 5, 6]

In [18]:
r = range(3,7)
print(r)
print(list(r))

range(3, 7)
[3, 4, 5, 6]

Durch zwei Sequenzen gleichzeitig iterieren:     zip       ###Wichtig###

******
Iterate through two sequences simultaneously:           zip
****
كرر من خلال سلسلتين في وقت واحد:          zip

In [19]:
###Wichtig###

for x,y in zip('Hallo',[12, -7.3, 1, 0, False]):
    print(x,y)

H 12
a -7.3
l 1
l 0
o False

Einen Zähler mitlaufen lassen:
********
Let a counter run:

In [28]:
for x,y in zip('Hallo',[12, -7.3, 1, 0, False]):
    print(x)

H
a
l
l
o

In [30]:
for x,y, in enumerate([12, -7.3, 1, 0, False]):
    print(x,y)

0 12
1 -7.3
2 1
3 0
4 False

In [32]:

for x,y, in enumerate(['Hallo',12, -7.3, 1, 0, False]):
    print(x,y)

0 Hallo
1 12
2 -7.3
3 1
4 0
5 False

In [20]:

13. Enumerate

Enumerate is a built-in function of Python. Its usefulness can not be summarized in a single line.
Yet most of the newcomers and even some advanced programmers are unaware of it.

***It allows us to loop over something and have an automatic counter.***
Here is an example:
    

my_list = ['apple', 'banana', 'grapes', 'pear']
for counter, value in enumerate(my_list):
    print counter, value

# Output:
# 0 apple
# 1 banana
# 2 grapes
# 3 pear

And there is more! enumerate also accepts an optional argument that allows us to specify the starting index of the counter.

my_list = ['apple', 'banana', 'grapes', 'pear']
for c, value in enumerate(my_list, 3):
    print(c, value)

# Output:
# 3 apple
# 4 banana
# 5 grapes
# 6 pear

An example of where the optional argument of enumerate comes in handy is creating tuples
containing the index and list item using a list. 
Here is an example:

my_list = ['apple', 'banana', 'grapes', 'pear']
counter_list = list(enumerate(my_list, 1))
print(counter_list)
# Output: [(1, 'apple'), (2, 'banana'), (3, 'grapes'), (4, 'pear')]

SyntaxError: invalid syntax (<ipython-input-20-cad8a2499fa2>, line 1)

In [23]:

my_list = ['apple', 'banana', 'grapes', 'pear']
for c, value in enumerate(my_list, 4):
    print(c, value)

4 apple
5 banana
6 grapes
7 pear

In [24]:
my_list = ['apple', 'banana', 'grapes', 'pear']
counter_list = list(enumerate(my_list, 1))
print(counter_list)
# Output: [(1, 'apple'), (2, 'banana'), (3, 'grapes'), (4, 'pear')]

[(1, 'apple'), (2, 'banana'), (3, 'grapes'), (4, 'pear')]

In [31]:
list2=['apple', 'banana', 'grapes', 'pear']
for i in enumerate(list2):
    print (i)
counter_list2=list(enumerate(list2))
print (counter_list2)

(0, 'apple')
(1, 'banana')
(2, 'grapes')
(3, 'pear')
[(0, 'apple'), (1, 'banana'), (2, 'grapes'), (3, 'pear')]

## 2.3. *while*-Schleife

Um eine Anweisung so lang wiederholen zu lassen, wie eine Bedingung erfüllt ist:
To repeat a statement as long as a condition is met:
************************
To repeat an instruction as long as a condition is met:
To repeat a statement as long as a condition is met:
************************************
مثال على المكان الذي تكون فيه الوسيطة الاختيارية للتعداد مفيدة 
وهي إنشاء مجموعات تحتوي على فهرس وعنصر قائمة باستخدام قائمة.

In [32]:
a = 'Hallo'
while len(a)<40:
    a = a+a
    print(a)

HalloHallo
HalloHalloHalloHallo
HalloHalloHalloHalloHalloHalloHalloHallo

Soll eine Bedingung nicht am Anfang der Schleife, sondern an anderer Stelle geprüft werden:

In [15]:
a = 'Hallo'
while True:
    a = a+a
    print(a)
    if len(a)>40:
        break

HalloHallo
HalloHalloHalloHallo
HalloHalloHalloHalloHalloHalloHalloHallo
HalloHalloHalloHalloHalloHalloHalloHalloHalloHalloHalloHalloHalloHalloHalloHallo

### Vergleichsoperatoren

| Operator | Vergleichsoperation          |
|----------|------------------------------|
| `==`     | gleicher Wert                |
| `!=`     | ungleich                     |
| `<`      | kleiner als                  |
| `<=`     | kleiner oder gleich          |
| `>`      | größer als                   |
| `>=`     | größer oder gleich           |
| `is`     | gleiches Objekt              |
| `in`     | Element in Sequenz enthalten |


***********************************************************

### Comparison operators


| Operator | Vergleichsoperation              |
|----------|----------------------------------|
| `==`     | same value                       |
| `!=`     | not equal                        |
| `<`      |  less than                       |
| `<=`     | less than or equal to            |
| `>`      | greater than                     |
| `>=`     | greater or equal                 |
| `is`     | is the same object               |
| `in`     | contained in element in sequence |

In [33]:
b=1.5
a=b
c=3/2
a==b, a==c, a is b, a is c

(True, True, True, False)

###wichtig###


Es können auch mehrere Vergleiche gleichzeitig durchgeführt werden:
*******

Several comparisons can be performed simultaneously:

In [35]:
###wichtig###
d = 3
e = 6
if 1<=d<=5<e:
    print('Ja')
else:
    print('Nein')

Ja

### Logische Operatoren

Zur Verknüpfung von Bedingungen:
*************
### Logical operators

To link conditions:
********************

| Operator | Ergebnis                                                  |
|----------|-----------------------------------------------------------|
| `and`    | `True` wenn beide Operanden `True` sind, sonst `False`    |
| `or`     | `True` wenn einer der Operanden `True` ist, sonst `False` |
| `not`    | `True` wenn Operand `False` und umgekehrt                 |

In [37]:
d = 3
e = 6
if d>=1 and not e>10:
    print('Ja')
else:
    print('Nein')

Ja

## Übung

**1) Berechnen Sie die Summe aller ungeraden ganzen Zahlen zwischen 75 und 1001 ...**
  * ... mithilfe einer for-Schleife.
  * ... mithilfe einer while-Schleife.
  * ... ohne Schleife.
  
 ## exercise

1)
Calculate the sum of all odd integers between 75 and 1001 ...

     ... using a for loop.
     ... using a while loop.
     ... without a loop.

In [52]:
sum1=0
list1=range(75,1002,2)
print(list(list1),'\n')
print('*******************')
for i in list1:
    sum1=sum1+i
print('sum=',sum1)

[75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99, 101, 103, 105, 107, 109, 111, 113, 115, 117, 119, 121, 123, 125, 127, 129, 131, 133, 135, 137, 139, 141, 143, 145, 147, 149, 151, 153, 155, 157, 159, 161, 163, 165, 167, 169, 171, 173, 175, 177, 179, 181, 183, 185, 187, 189, 191, 193, 195, 197, 199, 201, 203, 205, 207, 209, 211, 213, 215, 217, 219, 221, 223, 225, 227, 229, 231, 233, 235, 237, 239, 241, 243, 245, 247, 249, 251, 253, 255, 257, 259, 261, 263, 265, 267, 269, 271, 273, 275, 277, 279, 281, 283, 285, 287, 289, 291, 293, 295, 297, 299, 301, 303, 305, 307, 309, 311, 313, 315, 317, 319, 321, 323, 325, 327, 329, 331, 333, 335, 337, 339, 341, 343, 345, 347, 349, 351, 353, 355, 357, 359, 361, 363, 365, 367, 369, 371, 373, 375, 377, 379, 381, 383, 385, 387, 389, 391, 393, 395, 397, 399, 401, 403, 405, 407, 409, 411, 413, 415, 417, 419, 421, 423, 425, 427, 429, 431, 433, 435, 437, 439, 441, 443, 445, 447, 449, 451, 453, 455, 457, 459, 461, 463, 465, 467, 469, 471, 473, 475, 477, 479, 481, 483, 485, 487, 489, 491, 493, 495, 497, 499, 501, 503, 505, 507, 509, 511, 513, 515, 517, 519, 521, 523, 525, 527, 529, 531, 533, 535, 537, 539, 541, 543, 545, 547, 549, 551, 553, 555, 557, 559, 561, 563, 565, 567, 569, 571, 573, 575, 577, 579, 581, 583, 585, 587, 589, 591, 593, 595, 597, 599, 601, 603, 605, 607, 609, 611, 613, 615, 617, 619, 621, 623, 625, 627, 629, 631, 633, 635, 637, 639, 641, 643, 645, 647, 649, 651, 653, 655, 657, 659, 661, 663, 665, 667, 669, 671, 673, 675, 677, 679, 681, 683, 685, 687, 689, 691, 693, 695, 697, 699, 701, 703, 705, 707, 709, 711, 713, 715, 717, 719, 721, 723, 725, 727, 729, 731, 733, 735, 737, 739, 741, 743, 745, 747, 749, 751, 753, 755, 757, 759, 761, 763, 765, 767, 769, 771, 773, 775, 777, 779, 781, 783, 785, 787, 789, 791, 793, 795, 797, 799, 801, 803, 805, 807, 809, 811, 813, 815, 817, 819, 821, 823, 825, 827, 829, 831, 833, 835, 837, 839, 841, 843, 845, 847, 849, 851, 853, 855, 857, 859, 861, 863, 865, 867, 869, 871, 873, 875, 877, 879, 881, 883, 885, 887, 889, 891, 893, 895, 897, 899, 901, 903, 905, 907, 909, 911, 913, 915, 917, 919, 921, 923, 925, 927, 929, 931, 933, 935, 937, 939, 941, 943, 945, 947, 949, 951, 953, 955, 957, 959, 961, 963, 965, 967, 969, 971, 973, 975, 977, 979, 981, 983, 985, 987, 989, 991, 993, 995, 997, 999, 1001]

*******************
sum= 249632

In [20]:
'''a = 'Hallo'
while True:
    a = a+a
    print(a)
    if len(a)>40:
        break'''


sum2=0
j=75
list2=range(75,1002,2)
print(list(list2),'\n')
print('*******************')

while (j>=75) and (j<=1001):
    sum2=sum2+j
    #print(j,'\n')
    j=j+2
print('sum=',sum2)

[75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99, 101, 103, 105, 107, 109, 111, 113, 115, 117, 119, 121, 123, 125, 127, 129, 131, 133, 135, 137, 139, 141, 143, 145, 147, 149, 151, 153, 155, 157, 159, 161, 163, 165, 167, 169, 171, 173, 175, 177, 179, 181, 183, 185, 187, 189, 191, 193, 195, 197, 199, 201, 203, 205, 207, 209, 211, 213, 215, 217, 219, 221, 223, 225, 227, 229, 231, 233, 235, 237, 239, 241, 243, 245, 247, 249, 251, 253, 255, 257, 259, 261, 263, 265, 267, 269, 271, 273, 275, 277, 279, 281, 283, 285, 287, 289, 291, 293, 295, 297, 299, 301, 303, 305, 307, 309, 311, 313, 315, 317, 319, 321, 323, 325, 327, 329, 331, 333, 335, 337, 339, 341, 343, 345, 347, 349, 351, 353, 355, 357, 359, 361, 363, 365, 367, 369, 371, 373, 375, 377, 379, 381, 383, 385, 387, 389, 391, 393, 395, 397, 399, 401, 403, 405, 407, 409, 411, 413, 415, 417, 419, 421, 423, 425, 427, 429, 431, 433, 435, 437, 439, 441, 443, 445, 447, 449, 451, 453, 455, 457, 459, 461, 463, 465, 467, 469, 471, 473, 475, 477, 479, 481, 483, 485, 487, 489, 491, 493, 495, 497, 499, 501, 503, 505, 507, 509, 511, 513, 515, 517, 519, 521, 523, 525, 527, 529, 531, 533, 535, 537, 539, 541, 543, 545, 547, 549, 551, 553, 555, 557, 559, 561, 563, 565, 567, 569, 571, 573, 575, 577, 579, 581, 583, 585, 587, 589, 591, 593, 595, 597, 599, 601, 603, 605, 607, 609, 611, 613, 615, 617, 619, 621, 623, 625, 627, 629, 631, 633, 635, 637, 639, 641, 643, 645, 647, 649, 651, 653, 655, 657, 659, 661, 663, 665, 667, 669, 671, 673, 675, 677, 679, 681, 683, 685, 687, 689, 691, 693, 695, 697, 699, 701, 703, 705, 707, 709, 711, 713, 715, 717, 719, 721, 723, 725, 727, 729, 731, 733, 735, 737, 739, 741, 743, 745, 747, 749, 751, 753, 755, 757, 759, 761, 763, 765, 767, 769, 771, 773, 775, 777, 779, 781, 783, 785, 787, 789, 791, 793, 795, 797, 799, 801, 803, 805, 807, 809, 811, 813, 815, 817, 819, 821, 823, 825, 827, 829, 831, 833, 835, 837, 839, 841, 843, 845, 847, 849, 851, 853, 855, 857, 859, 861, 863, 865, 867, 869, 871, 873, 875, 877, 879, 881, 883, 885, 887, 889, 891, 893, 895, 897, 899, 901, 903, 905, 907, 909, 911, 913, 915, 917, 919, 921, 923, 925, 927, 929, 931, 933, 935, 937, 939, 941, 943, 945, 947, 949, 951, 953, 955, 957, 959, 961, 963, 965, 967, 969, 971, 973, 975, 977, 979, 981, 983, 985, 987, 989, 991, 993, 995, 997, 999, 1001]

*******************
sum= 249632

In [26]:
sum1=0
list4=range(75,1002,2)
print(list(list4),'\n')
print('*******************')
print('sum=',sum(list4))
print('*******************')
list5=list(enumerate(list4))
print(list5)
print('*******************')

[75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99, 101, 103, 105, 107, 109, 111, 113, 115, 117, 119, 121, 123, 125, 127, 129, 131, 133, 135, 137, 139, 141, 143, 145, 147, 149, 151, 153, 155, 157, 159, 161, 163, 165, 167, 169, 171, 173, 175, 177, 179, 181, 183, 185, 187, 189, 191, 193, 195, 197, 199, 201, 203, 205, 207, 209, 211, 213, 215, 217, 219, 221, 223, 225, 227, 229, 231, 233, 235, 237, 239, 241, 243, 245, 247, 249, 251, 253, 255, 257, 259, 261, 263, 265, 267, 269, 271, 273, 275, 277, 279, 281, 283, 285, 287, 289, 291, 293, 295, 297, 299, 301, 303, 305, 307, 309, 311, 313, 315, 317, 319, 321, 323, 325, 327, 329, 331, 333, 335, 337, 339, 341, 343, 345, 347, 349, 351, 353, 355, 357, 359, 361, 363, 365, 367, 369, 371, 373, 375, 377, 379, 381, 383, 385, 387, 389, 391, 393, 395, 397, 399, 401, 403, 405, 407, 409, 411, 413, 415, 417, 419, 421, 423, 425, 427, 429, 431, 433, 435, 437, 439, 441, 443, 445, 447, 449, 451, 453, 455, 457, 459, 461, 463, 465, 467, 469, 471, 473, 475, 477, 479, 481, 483, 485, 487, 489, 491, 493, 495, 497, 499, 501, 503, 505, 507, 509, 511, 513, 515, 517, 519, 521, 523, 525, 527, 529, 531, 533, 535, 537, 539, 541, 543, 545, 547, 549, 551, 553, 555, 557, 559, 561, 563, 565, 567, 569, 571, 573, 575, 577, 579, 581, 583, 585, 587, 589, 591, 593, 595, 597, 599, 601, 603, 605, 607, 609, 611, 613, 615, 617, 619, 621, 623, 625, 627, 629, 631, 633, 635, 637, 639, 641, 643, 645, 647, 649, 651, 653, 655, 657, 659, 661, 663, 665, 667, 669, 671, 673, 675, 677, 679, 681, 683, 685, 687, 689, 691, 693, 695, 697, 699, 701, 703, 705, 707, 709, 711, 713, 715, 717, 719, 721, 723, 725, 727, 729, 731, 733, 735, 737, 739, 741, 743, 745, 747, 749, 751, 753, 755, 757, 759, 761, 763, 765, 767, 769, 771, 773, 775, 777, 779, 781, 783, 785, 787, 789, 791, 793, 795, 797, 799, 801, 803, 805, 807, 809, 811, 813, 815, 817, 819, 821, 823, 825, 827, 829, 831, 833, 835, 837, 839, 841, 843, 845, 847, 849, 851, 853, 855, 857, 859, 861, 863, 865, 867, 869, 871, 873, 875, 877, 879, 881, 883, 885, 887, 889, 891, 893, 895, 897, 899, 901, 903, 905, 907, 909, 911, 913, 915, 917, 919, 921, 923, 925, 927, 929, 931, 933, 935, 937, 939, 941, 943, 945, 947, 949, 951, 953, 955, 957, 959, 961, 963, 965, 967, 969, 971, 973, 975, 977, 979, 981, 983, 985, 987, 989, 991, 993, 995, 997, 999, 1001]

*******************
sum= 249632
*******************
[(0, 75), (1, 77), (2, 79), (3, 81), (4, 83), (5, 85), (6, 87), (7, 89), (8, 91), (9, 93), (10, 95), (11, 97), (12, 99), (13, 101), (14, 103), (15, 105), (16, 107), (17, 109), (18, 111), (19, 113), (20, 115), (21, 117), (22, 119), (23, 121), (24, 123), (25, 125), (26, 127), (27, 129), (28, 131), (29, 133), (30, 135), (31, 137), (32, 139), (33, 141), (34, 143), (35, 145), (36, 147), (37, 149), (38, 151), (39, 153), (40, 155), (41, 157), (42, 159), (43, 161), (44, 163), (45, 165), (46, 167), (47, 169), (48, 171), (49, 173), (50, 175), (51, 177), (52, 179), (53, 181), (54, 183), (55, 185), (56, 187), (57, 189), (58, 191), (59, 193), (60, 195), (61, 197), (62, 199), (63, 201), (64, 203), (65, 205), (66, 207), (67, 209), (68, 211), (69, 213), (70, 215), (71, 217), (72, 219), (73, 221), (74, 223), (75, 225), (76, 227), (77, 229), (78, 231), (79, 233), (80, 235), (81, 237), (82, 239), (83, 241), (84, 243), (85, 245), (86, 247), (87, 249), (88, 251), (89, 253), (90, 255), (91, 257), (92, 259), (93, 261), (94, 263), (95, 265), (96, 267), (97, 269), (98, 271), (99, 273), (100, 275), (101, 277), (102, 279), (103, 281), (104, 283), (105, 285), (106, 287), (107, 289), (108, 291), (109, 293), (110, 295), (111, 297), (112, 299), (113, 301), (114, 303), (115, 305), (116, 307), (117, 309), (118, 311), (119, 313), (120, 315), (121, 317), (122, 319), (123, 321), (124, 323), (125, 325), (126, 327), (127, 329), (128, 331), (129, 333), (130, 335), (131, 337), (132, 339), (133, 341), (134, 343), (135, 345), (136, 347), (137, 349), (138, 351), (139, 353), (140, 355), (141, 357), (142, 359), (143, 361), (144, 363), (145, 365), (146, 367), (147, 369), (148, 371), (149, 373), (150, 375), (151, 377), (152, 379), (153, 381), (154, 383), (155, 385), (156, 387), (157, 389), (158, 391), (159, 393), (160, 395), (161, 397), (162, 399), (163, 401), (164, 403), (165, 405), (166, 407), (167, 409), (168, 411), (169, 413), (170, 415), (171, 417), (172, 419), (173, 421), (174, 423), (175, 425), (176, 427), (177, 429), (178, 431), (179, 433), (180, 435), (181, 437), (182, 439), (183, 441), (184, 443), (185, 445), (186, 447), (187, 449), (188, 451), (189, 453), (190, 455), (191, 457), (192, 459), (193, 461), (194, 463), (195, 465), (196, 467), (197, 469), (198, 471), (199, 473), (200, 475), (201, 477), (202, 479), (203, 481), (204, 483), (205, 485), (206, 487), (207, 489), (208, 491), (209, 493), (210, 495), (211, 497), (212, 499), (213, 501), (214, 503), (215, 505), (216, 507), (217, 509), (218, 511), (219, 513), (220, 515), (221, 517), (222, 519), (223, 521), (224, 523), (225, 525), (226, 527), (227, 529), (228, 531), (229, 533), (230, 535), (231, 537), (232, 539), (233, 541), (234, 543), (235, 545), (236, 547), (237, 549), (238, 551), (239, 553), (240, 555), (241, 557), (242, 559), (243, 561), (244, 563), (245, 565), (246, 567), (247, 569), (248, 571), (249, 573), (250, 575), (251, 577), (252, 579), (253, 581), (254, 583), (255, 585), (256, 587), (257, 589), (258, 591), (259, 593), (260, 595), (261, 597), (262, 599), (263, 601), (264, 603), (265, 605), (266, 607), (267, 609), (268, 611), (269, 613), (270, 615), (271, 617), (272, 619), (273, 621), (274, 623), (275, 625), (276, 627), (277, 629), (278, 631), (279, 633), (280, 635), (281, 637), (282, 639), (283, 641), (284, 643), (285, 645), (286, 647), (287, 649), (288, 651), (289, 653), (290, 655), (291, 657), (292, 659), (293, 661), (294, 663), (295, 665), (296, 667), (297, 669), (298, 671), (299, 673), (300, 675), (301, 677), (302, 679), (303, 681), (304, 683), (305, 685), (306, 687), (307, 689), (308, 691), (309, 693), (310, 695), (311, 697), (312, 699), (313, 701), (314, 703), (315, 705), (316, 707), (317, 709), (318, 711), (319, 713), (320, 715), (321, 717), (322, 719), (323, 721), (324, 723), (325, 725), (326, 727), (327, 729), (328, 731), (329, 733), (330, 735), (331, 737), (332, 739), (333, 741), (334, 743), (335, 745), (336, 747), (337, 749), (338, 751), (339, 753), (340, 755), (341, 757), (342, 759), (343, 761), (344, 763), (345, 765), (346, 767), (347, 769), (348, 771), (349, 773), (350, 775), (351, 777), (352, 779), (353, 781), (354, 783), (355, 785), (356, 787), (357, 789), (358, 791), (359, 793), (360, 795), (361, 797), (362, 799), (363, 801), (364, 803), (365, 805), (366, 807), (367, 809), (368, 811), (369, 813), (370, 815), (371, 817), (372, 819), (373, 821), (374, 823), (375, 825), (376, 827), (377, 829), (378, 831), (379, 833), (380, 835), (381, 837), (382, 839), (383, 841), (384, 843), (385, 845), (386, 847), (387, 849), (388, 851), (389, 853), (390, 855), (391, 857), (392, 859), (393, 861), (394, 863), (395, 865), (396, 867), (397, 869), (398, 871), (399, 873), (400, 875), (401, 877), (402, 879), (403, 881), (404, 883), (405, 885), (406, 887), (407, 889), (408, 891), (409, 893), (410, 895), (411, 897), (412, 899), (413, 901), (414, 903), (415, 905), (416, 907), (417, 909), (418, 911), (419, 913), (420, 915), (421, 917), (422, 919), (423, 921), (424, 923), (425, 925), (426, 927), (427, 929), (428, 931), (429, 933), (430, 935), (431, 937), (432, 939), (433, 941), (434, 943), (435, 945), (436, 947), (437, 949), (438, 951), (439, 953), (440, 955), (441, 957), (442, 959), (443, 961), (444, 963), (445, 965), (446, 967), (447, 969), (448, 971), (449, 973), (450, 975), (451, 977), (452, 979), (453, 981), (454, 983), (455, 985), (456, 987), (457, 989), (458, 991), (459, 993), (460, 995), (461, 997), (462, 999), (463, 1001)]
*******************

**2) Nähern Sie die Kreiszahl $\pi$ iterativ an. Hierfür können Sie z.B. das [Wallissche Produkt](https://de.wikipedia.org/wiki/Wallissches_Produkt) verwenden.**

** 2) Approximate the circle number $ \ pi $ iteratively. You can do this for example by Use the [Wallis product] (https://en.wikipedia.org/wiki/Wallissches_Produkt). **

$$
\pi= 2\,\prod_{i=1}^\infty\left(1+\frac{1}{4i^2-1}\right)
$$

In [13]:
# Hier eigenen Code schreiben ...

PI=0
a=range(1,10000000)
for i in list(a):
    PI=(1+(1/(4*i**2-1)))
    PI=2*PI
    
print('PI=',PI)

PI= 2.000000000000005

PI= 1999998.9999961203

3) Schreiben Sie einen kurzen Programmabschnitt, der vom Nutzer eingegebene Zahlwörter in Integer-Zahlen von 1 bis 4 umwandelt. Verwenden Sie hierfür ...**
  * ...eine *if/elif/else*-Struktur
  * ...nur ein *Dictionary*
  *****************
3) Write a short program section that converts numerals entered by the user into integers from 1 to 4. Use ...

     ... an if / elif / else structure
     ... just a dictionary

In [10]:
# Die input-Funktion fragt Nutzereingaben ab:


zahlwort = input('Geben Sie ein Zahlwort zwischen "eins" und "vier" ein:')
a=["eins","zwei","drei","vier"]
#print(a)
for i in a:
    if zahlwort =="eins":
        print("1")
        break
    elif zahlwort =="zwei":
        print("2")
        break
    elif zahlwort =="drei":
        print("3")
        break
    elif zahlwort =="vier":
        print("4")
        break
# Hier eigenen Code schreiben ...

Geben Sie ein Zahlwort zwischen "eins" und "vier" ein: vier

4

insert eins

word=1